:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*main*/
body {
  font-family: 'Mulish', sans-serif;
  color: #7D7987;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}

.wrapper {
  display: flex;
  flex-direction: column;

  overflow: clip;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  padding: 0 8px;
}

/*header*/
.header {
  padding: 11vh 0 0;
  height: 100vh;

  overflow: hidden;
}

.header__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;

  margin-bottom: 16vh;
}

.header__icon {
  overflow: hidden;
  width: 171.725px;
  height: 30px;

  display: flex;
  align-items: center;
}
.header__icon img{
  height: 19px;
  width: 146px;
}

.header__nav {
  display: flex;
  gap: 50px;
}

.header__link {
  color: #1F1534;
  opacity: .5;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;

  transition: all .3s ease;

  position: relative;
}
.header__link:hover {
  color: #2E4E92;
  opacity: 1;
}

.header__link:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #2E4E92;

  position: absolute;
  top: 100%;

  transition: all .3s ease;
}
.header__link:hover:after {
  width: 100%;
}
/*headerMain*/
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info {
    width: 50%;
}

.header__title {
  color: #3C567B;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px; /* 116.667% */

  margin-bottom: 20px;
}

.header__text {
  color: #93C1F9;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 142.105% */
  letter-spacing: 0.38px;

  margin-bottom: 40px;
}

.header__btn {
  color: #FFF;
  
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 315.789% */

  border-radius: 55px;
  background: #458FF6;
  padding: 12px 26px;

  transition: all .3s ease;
}
.header__btn:hover {
  color: #458FF6;
  background-color: #FFF;
}

.header__img {
  width: 50%;
}
.header__img img{
  max-width: 100%;
  height: auto;
}

/*page*/
.page {
  flex: 1 1 auto;
}

/*services*/
.services {
  padding: 110px 0;
}

.services__body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services__title {
  color: #462E6A;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px; /* 124.444% */

  margin-bottom: 24px;
}

.services__text {
  color: #A7A7A7;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 142.105% */
  letter-spacing: 0.38px;
  text-align: center;

  max-width: 766px;
}

/*services__ul*/
.services__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 7vh;

  margin-top: 6vh;
}
.services__item {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services__item-img {
  height: 95px;
}
.services__item-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px; /* 233.333% */
}
.services__item-text {
  max-width: 256px;
}

.services__btn {
  color: #458FF6;
  font-size: 18px;
  font-weight: 700;

  display: inline;
  text-align: center;

  padding: 5px 70px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  margin-top: 70px;

  transition: all .3s ease;
}

.services__btn:hover {
  color: #fff;
  background-color: #458FF6;
  border: 1.4px solid #fff;
}

/*info*/
.info {
  margin-bottom: 110px;
}

.info__body {
  display: flex;
  align-items: center;
}
.info__body-reverce {
  flex-direction: row-reverse;
}

.info__img {
  width: 50%;
}
.info__img img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.info__content-wrapper {
  width: 50%;
  display: flex;
  justify-content: end;
}
.info__body-reverce .info__content-wrapper {
  justify-content: start;
}
.info__content {
  max-width: 440px;
}

.info__title {
  color: #462E6A;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px; /* 155.556% */
}

.info__text {
  margin-top: 30px;
  margin-bottom: 25px;
}

.info__btn {
  color: #458FF6;
  font-size: 18px;
  font-weight: 700;

  display: inline;
  text-align: center;

  padding: 10px 60px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;

  transition: all .3s ease;
}

.info__btn:hover {
  color: #fff;
  background-color: #458FF6;
  border: 1.4px solid #fff;
}